<a id="kakao-login-btn-skyfly33-template"></a>
<div id="id01" style="display: none">dummy</div>
<script>
  // 사용할 앱의 Javascript 키를 설정해 주세요.
  Kakao.init('db831e72d4093199ddd7954e27a2f91b');

  var kakaoLoginBtnCreator = Kakao.Auth.createLoginButton;
  
  // 카카오 로그인 버튼을 생성합니다.
  kakaoLoginBtnCreator({
    container: '#kakao-login-btn-skyfly33-template',
    lang: 'kr',
    size: 'medium',
    success: function(authObj) {
      // 로그인 성공시, API를 호출합니다.
      console.log("access_token : " + authObj.access_token);
      console.log("refresh_token : " + authObj.refresh_token);
      console.log("authObj : " + authObj);
      Kakao.API.request({
        url: '/v1/user/me',
        success: function(res) {
          // alert(JSON.stringify(res));
          var arr = res;
          console.log(arr);
          console.log(arr.id);
          console.log(arr.properties);
          var arr2 = arr.properties;
          console.log(arr2.nickname);
          console.log(arr2.thumbnail_image);
          var i;
          var out = "<table>";

          out += "<tr><td>" +
          arr.id +
          "</td></tr><tr><td>" +
          arr2.nickname +
          "</td></tr><tr><td>" +
          "<img src= '" + arr2.thumbnail_image + "' />" +
          "</td></tr>";
          out += "</table>"
          document.getElementById("id01").innerHTML = out;

          document.getElementById("id01").style.display="block";

          window.onload = setTimeout("location.href='http://skyfly33.dothome.co.kr/kakao/kakaologindemo2.html'",3000);
        },
        fail: function(error) {
          alert(JSON.stringify(error))
        },
        always: function(authObj, error) {
          alert("test");
        },
        // persistAccessToken: false
        // persistRefreshToken: 'true'
      });
},
fail: function(err) {
  alert(JSON.stringify(err))
}
});
</script>