<div class="jumbotron text-center">
	<h1>Kakao API</h1>

	<p>{{ tagline }}</p>

	<div class="thumbnail" style="width: 300px; position:relative; left: 360px;">
		<img src="{{ userThumbnail }}" class="img-thumbnail">
		<div class="caption">
			<h3>Kakao UserInfo</h3>
			<p>카카오 사용자 정보</p>
			<p><small>ID : {{ userId }}</small></p>
			<p><small>NickName : {{ userNinckName }}</small></p>
		</div>
	</div>
</div>
<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>NickName</th>
			<th>Thumbnail</th>
			<th>Profile</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><input type="text" class="form-control" ng-model="userInfo.id"></td>
			<td><input type="text" class="form-control" ng-model="userInfo.nickname"></td>
			<td><input type="text" class="form-control" ng-model="userInfo.thumbnail_image"></td>
			<td><input type="text" class="form-control" ng-model="userInfo.profile_image"></td>
		    <td><button type="button" class="btn btn-info" ng-click="kakaoSave(userInfo)">Save</button></td>
		</tr>
	</tbody>
</table>
<div class="row">
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<div class="caption">
				<h3>Kakao GetUserList</h3>
				<p>카카오 사용자 목록 -  사용자 목록 가져오기</p>
				<button class="btn btn-warning" style="width: 82px; height: 30px; border: none; padding: 0;" ng-click="kakaoGetUserList()">GetUserList</button>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<div class="caption">
				<h3>Kakao GetUserInfo</h3>
				<p>카카오 사용자 관리 -  사용자 정보 가져오기</p>
				<button class="btn btn-warning" style="width: 82px; height: 30px; border: none; padding: 0;" ng-click="kakaoGetUserInfo()">GetUserInfo</button>
			</div>
		</div>
	</div>
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<div class="caption">
				<h3>Kakao Logout</h3>
				<p>카카오 사용자 관리 - 로그아웃</p>
				<button class="btn btn-warning" style="width: 70px; height: 30px; border: none; padding: 0;" ng-click="kakaoLogout()">Logout</button>
			</div>
		</div>
	</div>
</div>