<div class="jumbotron text-center">
	<h1>Kakao API</h1>

	<p>{{ tagline }}</p>
</div>
<div class="row">
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<img src="./img/kakaologin/kr/kakao_account_login_btn_large_narrow.png" alt="kakaologin button">
			<div class="caption">
			<h3>kakao login</h3>
				<p>카카오 사용자 관리 - 로그인 API</p>
				<button style="background: url(./img/kakaoLogin/kr/kakao_login_btn_small.png) no-repeat; width: 70px; height: 30px; border: none; padding: 0;" ng-click="kakaoLogin()"></button>
			</div>
		</div>
	</div>
</div>