<div class="jumbotron text-center">
	<h1>Test Page</h1>

	<p>{{ tagline }}</p>

	<input type="text" ng-model="test">
	<h1>{{test}}</h1>
</div>
<div>
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Number</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input type="text" class="form-control" ng-model="contact.name"></td>
				<td><input type="text" class="form-control" ng-model="contact.email"></td>
				<td><input type="text" class="form-control" ng-model="contact.number"></td>
				<td><button class="btn btn-primary" ng-click="addContact()">Add Contact</button></td>
			</tr>
			<tr ng-repeat="contact in contactlist">
				<td>{{contact.name}}</td>
				<td>{{contact.email}}</td>
				<td>{{contact.number}}</td>
				<td><button class="btn btn-danger" ng-click="remove(contact._id)">Remove</button></td>
			</tr>
		</tbody>
	</table>
</div>
